   body,
   html {
       margin: 0;
       overflow: hidden;
       margin:0;
       padding: 0;
       width: 100%;
       height: 100%;
   }

   canvas {
       display: block;
       background-color: black;
   }

   .asteroidImage {
       width: 2px;
       height: 2px;
       position: absolute;
   }

   .rocketImage {
       width: 2px;
       height: 2px;
       position: absolute;
   }
   #restartButton {
    position: absolute;
    top: 130px;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}